@import "variable.css";

.header {
  background-color: var(--bg-primary);
  padding-top: 23px;
}

.header__container {
  max-width: 1356px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--color-primary);
  font-size: 24px;
  text-decoration: none;
}

.menu-list {
  display: flex;
  gap: 51px;
}

.menu-list__link {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 16px;
}
