:root {
  --font-primary: "Poppins", sans-serif;
  --color-primary: #161212;
  --color-primary-two: #f9f9f9;
  --color-secudary: #404040;
  --color-terciary: #da2535;
  --color-terciary: #da2535;
  --bg-primary: #f7c7b9;
  --bg-secundary: #f9f9f9;
}
