@charset "UTF-8";

@import url(variable.css);

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;
}

.header__paragraph {
    font-family: "archivo";
    padding: 19px 0px;
}

.main {

}

.banner {
    background: url(..//img/09b1a20191a57e504bf41c599dbaca80.png) center / cover no-repeat;
    position: relative;
}

.logo__bg {
    
}

.paragraph__bg-1 {

}
