@charset "UTF-8";

@import url(variable.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0px 24px;

    @media(min-width: 768px) {
        padding: 0px 40px;
      }
}

.header__paragraph {
    font-family: "archivo";
    font-size: 24px;
    padding: 19px 0px;
    text-align: center;

    @media(max-width:320px) {
        font-size: 20px;
    }
}

.banner {
    background: linear-gradient(#121214BF) , url(..//img/09b1a20191a57e504bf41c599dbaca80.png) top center/ cover no-repeat;

    width: 100%;
    padding: 95px 0px;
}

.conteiner__banner-paragraph {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    justify-content: center;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo__bg {
    width: 30px;
    height: 30px;

    @media(max-width:1024px) {
        width: 19.2px;
        height: 17.9px;
    }
}

.paragraph__bg-1 {
    color: white;
    font-family: "archivo";
    font-weight: 500;
    font-size: 24px;

    @media(max-width:1024px) {
        font-size: 18px;
    }
}

.content_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title__bg {
    color: white;
    font-family: "archivo";
    font-weight: 500;
    font-size: 32px;

    @media(max-width:1024px) {
        font-size: 24px;
    }
}

.paragraph__bg-2 {
    color: white;
    font-family: "archivo";
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    @media(max-width:1024px) {
        font-size: 18px;
    }

    @media(max-width:768px) {
        font-size: 16px;
    }
}

.content-shoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 72px;
}

.content-shoes-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.content-shoes-text__title {
    font-family: "archivo";
    font-weight: 600;
    font-size: 32px;

    @media(max-width:1024px) {
        font-size: 24px;
    }

    @media(max-width:768px) {
        font-size: 20px;
    }
}

.content-shoes-text__paragraph {
    font-family: "archivo";
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    @media(max-width:1024px) {
        font-size: 18px;
    }

    @media(max-width:768px) {
        font-size: 14px;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 32px;

    @media(max-width:1280px) {
        justify-content: center;
    }
}

.card-shoes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.card-shoes-content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media(max-width:375px) {
        text-align: center;
    }
}

.card-shoes-content__title {
    font-family: "archivo";
    font-weight: 500;
    font-size: 18px;
}

.card-shoes-content__paragraph {
    font-family: "archivo";
    color: #7CA2F4;
    font-weight: 500;
    font-size: 16px;
}

.card-shoes__price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;

    @media(max-width:375px) {
        text-align: center;
    }
}